.add-mentor{
    width: 300px;
    margin-left: calc(50% - 165px);
    padding: 30px;
    background-color: lightgray;
    margin-top: 40px;
    margin-bottom: 40px;
}

.add-mentor label {
    display: block;
    margin: 2px;
}

.add-mentor input[type="file"], .add-mentor input[type="text"] {
    margin: 10px;
}

.add-mentor button{
    margin: 10px;
}

